---
title: Book review
layout: default
---
<p class="lead">Chào mừng đến với chuyên mục Book review - Đánh giá sách. Nơi đây tớ sẽ viết mọi cảm nghĩ của mình về những cuốn sách mình đã đọc. Ở cuối mỗi bài viết đều có phần comment, hãy đừng ngại ngùng để lại đôi lời nếu bạn có chút thắc mắc.</p>
{% for post in site.categories.bookreview %}
<article class="post">
  <div class="post-content">
    {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"https://duongtunganh.space/img/" | prepend: site.baseurl | append : post.img}})" href="https://duongtunganh.space/{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
    <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }} - </time>
        <span class="post-words" style="color:#bbb2ae">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " phút đọc" }}{% endunless %}</span>
        <h1 class="catalogue-title"><a href="{{post.url | prepend: site.baseurl}}">{{ post.title }}</a></h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 30 }}
        </p>

  </div>
</article>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>