---
layout: default
---

<div class="post">
  <div class="wv-button-placeholder"></div>
  <div class="post-info">
    <span>Viết bởi</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>vào&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <style>
  .post-title {
	font-size: 2rem;
}
  </style>
  <div class="post-line"></div>

  {{ content }}
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Lên đầu trang</a>
</div>
<script async src="https://widget.websitevoice.com/55_YxBwMIWY7Ijv-ICrJaQ"></script>
<script>
  window.wvData=window.wvData||{};function wvtag(a,b){wvData[a]=b;}
  wvtag('id', '55_YxBwMIWY7Ijv-ICrJaQ');
  wvtag('language', 'vi-VN');
  wvtag('widget-style', {
    buttonText: 'Đọc văn bản'
  });
</script>
